<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create User</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        User Form
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <mat-form-field class="form">
        <mat-label>
          First Name
        </mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="form">
        <mat-label>
          Last Name
        </mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="form">
        <mat-label>
          Email
        </mat-label>
        <input matInput />
      </mat-form-field>
    </ion-card-content>
    <ion-card-content>
      <button class="button" mat-raised-button color=primary (click)="addUser()">Add User</button>
    </ion-card-content>
  </ion-card>
</ion-content>
