.logo {
  font-size: 20vh;
  color: red;
}
.panel {
  text-align: center;
}
.form{
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    margin-bottom: 2%;
}
.texthead{
    font-size: medium;
    font-weight: bold;
    font-family: cursive;
    color:red;
}
.button{
    width:100%;
}